.app-header {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: white;
}

.btn-container {
  display: flex;
}

.btn-active {
  height: 40px;
  border-radius: 1rem;
  position: relative;
  width: 180px;
}

.btn-active .checked {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  margin: 0 0 0 1rem;
}

.btn-deactive {
  height: 40px;
  border-radius: 1rem;
  position: relative;
  border-color: red;
  cursor: pointer;
  margin-left: 20px;
}

.btn-vote {
  height: 40px;
  border-radius: 1rem;
  position: relative;
  width: 150px;
  cursor: pointer;
}

.vote-form {
  margin: 80px auto 50px auto;
  max-width: 500px;
  width: 100%;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 30px 20px;
}

.vote-form__title {
  text-align: center;
}

.vote-form__warning {
  text-align: center;
  margin-top: 30px;
}

.vote-form__cta {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.vote-form__result {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}